<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>MAP DATA MODEL</title></head>
<body>
<table aria-describedby="column_view" class="ibm-data-table ibm-padding-small ibm-small ibm-altrows" data-info="true" data-ordering="true"
	data-paging="true" data-searching="true" data-widget="datatable" id="result_table">
	<thead>
		<tr>
		    <th>Schema</th>
		    <th>Table</th>
			<th>Column Name</th>
			<th>Data Type</th>
			<th>Is Null</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="columnView:${columnList}">
		    <td th:text="${columnView.schema}"></td>
		    <td><a th:href="@{detail(tb=${columnView.tableName},schema=${columnView.schema},tbid=${columnView.tableObjid})}" style="vertical-align: top;" th:text="${columnView.tableName}" target="_blank"></a></td>
			<td th:text="${columnView.name}"></td>
			<td th:text="${columnView.dataType}"></td>
			<td th:text="${columnView.ifNull}"></td>
			<td th:text="${columnView.desc}"></td>
		</tr>
	</tbody>
</table>
</body>
</html>