<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<table class="ibm-data-table ibm-padding-small ibm-small ibm-altrows" data-info="true" data-ordering="true"
	data-paging="true" data-searching="true" data-widget="datatable" id="result_table">
	<thead>
		<tr>
		    <th width="8%">Schema</th>
		    <th width="10%">Table</th>
			<th width="15%">Column Name</th>
			<th width="10%">Data Type</th>
			<th width="8%">Is Null</th>
			<th width="50%">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="columnView:${columnList}">
		    <td width="8%" th:text="${columnView.schema}"></td>
		    <td width="10%"><a th:href="@{detail(tb=${columnView.tableName},schema=${columnView.schema},tbid=${columnView.tableObjid})}" style="vertical-align: top;" th:text="${columnView.tableName}" target="_blank"></a></td>
			<td width="15%" th:text="${columnView.name}"></td>		
			<td width="10%" th:text="${columnView.dataType}"></td>
			<td width="8%" th:text="${columnView.ifNull}"></td>
			<td width="50%" th:text="${columnView.desc}"></td>
		</tr>
	</tbody>
</table>

</html>