<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 
																				-->
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="shortcut icon" href="//www.ibm.com/favicon.ico"></link>
<meta name="robots" content="noindex,nofollow"></meta>
<meta name="description"
	content="Advanced Northstar web development hints, tips, and documentation."></meta>
<meta name="keywords" content="NONE"></meta>
<meta name="geo.country" content="US"></meta>
<meta name="dcterms.date" content="2018-01-29"></meta>
<meta name="dcterms.rights" content="© Copyright IBM Corp. 2016"></meta>

<title>MAP DATA MODEL</title>

 <script>
	digitalData = {
		page : {
			pageInfo : {
				version: 'v18',
				ibm : {
					config : {
						masthead : {
							type : "popup",
							sticky : {
								enabled : false
							},
							marketplaceLink : {
								enabled : false
							},
						},
						footer :{
                           enabled : false
						}

					}
				}
			}
		}
	};
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i"></link>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"></link>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i"></link>
<link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" ></link>
<link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" ></link>
<link href="https://1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet"></link>
<link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet"></link>
<link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet"></link>
<link th:href="@{/css/score.css}" rel="stylesheet"></link>
<link th:href="@{/css/custom.css}" rel="stylesheet"></link>

<script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
<script src="https://1.www.s81c.com/common/v18/js/dyntabs.js"></script>
<script src="https://1.www.s81c.com/common/v18/js/tables.js"></script>
<script>
	jQuery(function($){
		
		    	     
		
	});
</script>

</head>

<body id="ibm-com" class="ibm-type v18 v18overview">
	<div id="ibm-top" class="ibm-landing-page">

		<div id="ibm-content-wrapper">

			<div class="ibm-sitenav-menu-container" >

					
			</div>

			<main role="main" aria-labelledby="ibm-pagetitle-h1">
			<div id="ibm-pcon">
				<div id="ibm-content">
						<div id="ibm-content-main">
						<div class="ibm-fluid ibm-fullwidth">
                           <div class="ibm-col-12-12" >
                              <div id="container" style="height:auto !important">
                               
                               <div class="ibm-col-12-12">
                                 <p class="ibm-h4 custom-font">Details for table: <span th:text="${schema+'.'+tableName}"></span></p>
                               </div>
                               
                               <div class="ibm-fluid">
                                   <div class="ibm-col-12-12">
                                      <div class="ibm-rule ibm-alternate-1 ibm-black-50"></div>
                                   </div>
                               </div>
										<div class="ibm-fluid ibm-fullwidth">

											<div data-widget="dyntabs" class="ibm-graphic-tabs"
												style="margin-left: 10px">
												<div class="ibm-tab-section">
													<ul class="ibm-tabs" role="tablist">
														<li><a aria-selected="true" role="tab"
															href="#tableddl" class="custom-font">Table DDL</a></li>
														<li><a role="tab" href="#sampledata" class="custom-font">Sample Data (PI Data will be displayed as "PROTECTED")</a></li>
													</ul>
												</div>
											</div>
											<div id="tableddl" class="ibm-tabs-content" style="padding-left: 10px">
											  <table class="ibm-data-table ibm-padding-small ibm-small ibm-altrows"
												id="ddl_view">
												<thead>
													<tr>
														<th>Column Name</th>
														<th>Column Type</th>
														<th>Not Null</th>
														<th>Column Description</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="columnView:${columnList}">
														<td th:text="${columnView.name}"></td>
														<td th:text="${columnView.dataType}"></td>
														<td th:text="${columnView.ifNull}"></td>
														<td th:text="${columnView.desc}"></td>
													</tr>
												</tbody>
											</table>										
											</div>
											<div id="sampledata" class="ibm-tabs-content" style="padding-left: 10px">
											 <p th:if="${#lists.isEmpty(sdList)}">No sample data</p>
											  <table class="ibm-data-table ibm-padding-small ibm-small ibm-altrows" data-widget="datatable" data-scrollaxis="x"
												id="sample_view" th:if="${!#lists.isEmpty(sdList)}" >
							
												<thead>
													<tr >
														<th th:each="headCol:${headList}" >
															<p th:text="${headCol}"></p>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="sds:${sdList}">
														<td  th:each="sd:${sds}" >
															<p th:if="${sd.cType} eq '0'" th:text="${sd.cValue}"></p>
															<p th:if="${sd.cType} eq '1'" th:text="${sd.cValue}" style="text-align:right"></p>
														</td>
													</tr>
												</tbody>
											</table>			
											</div>
											
										</div>

									</div>
                           </div>
                        </div>
								
						</div>
					</div>
				
			</div>
			</main>
		</div>

		<!-- Corporate thin footer -->
		<div th:replace="footer::footer" ></div>
		<div th:replace="feedback::feedback" ></div>
		
		<div id="loading_area" style="display: none"><p><span class="ibm-spinner"></span> Loding data,please wait.</p></div>
		<!-- FOOTER_END -->

		<!-- #ibm-top END -->
	</div>
</body>
</html>