<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>MAP DATA MODEL</title></head>
<body>
<table aria-describedby="schema_view" class="ibm-data-table ibm-padding-small ibm-small ibm-altrows" border="0" data-info="true" data-ordering="true"
	data-paging="true" data-searching="true" data-widget="datatable" id="result_table">
	<thead>
		<tr>
			<th>Schema</th>
			<th>View Name</th>
			<th>Description</th>
			<th>Refresh Rate</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tableView:${tableList}">
			<td th:text="${tableView.schema}"></td>
			<td ><a th:href="@{detail(tb=${tableView.name},schema=${tableView.schema},tbid=${tableView.tableObjid})}" style="vertical-align: top;" th:text="${tableView.name}" target="_blank"></a></td>
			<td th:text="${tableView.desc}"></td>
			<td th:text="${tableView.freshRate}"></td>
		</tr>
	</tbody>
</table>
</body>
</html>