@font-face {
   font-family: 'IBMPlexSans-Thin-V01';
   src: url('IBMPlexSans-Thin-V01/font.1.ttf');
}
@font-face {
   font-family: 'IBMPlexSans-Regular-V01';
   src: url('IBMPlexSans-Regular-V01/font.1.ttf');
}
